* {
    box-sizing: border-box;
}

:root {
    --small-space-around: 0.5em;
}

body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    background: #ECEEF1;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.msg {
    border: 1px solid black;
    padding: 32px;
}

.msg--date {
    font-weight: 500;
    color: #82878D;
    text-align: center;
}

.msg--img-body {
    display: flex;
}

.msg--body {
    display: flex;
    flex-direction: column;
}

.msg--bubble {
    background: #FFFFFF;
    border: 1px solid #D8DEE7;
    border-radius: 8px;
    padding: 1rem;
    margin-left: var(--small-space-around);
    margin-bottom: var(--small-space-around);
    /* max-width: 800px; // ne trima bubble na novi length */
}

.msg--bubble h4, .msg--bubble p {
    margin: 0;
}

.msg--bubble h4 {
    margin-bottom: 0.5rem;
}

.msg--img {
    width: 48px;
    height: 100%;
    border-radius: 24px;
}

.msg--time-sent {
    color: #82878D;
    margin-left: var(--small-space-around);
}

.msg--reply {
    color: #023168;
    cursor: pointer;
}