* {
    box-sizing: border-box;
}

:root {
    --small-margin: 0.75em;
    --img-size: 48px;
    --msg-padding: 32px;
}

body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    background: #ECEEF1;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.msg, .msg--child {
    padding: 1rem 2rem 0.5rem 2rem;
    /* border: 1px solid black; */
}

.msg--date {
    font-weight: 500;
    color: #82878D;
    text-align: center;
}

.msg--img-body, .msg--img-body-child {
    display: flex;
}

.msg--img-body-child {
    margin-left: calc(var(--img-size) + var(--small-margin));
}

.msg--body {
    display: flex;
    flex-direction: column;
}

.msg--bubble {
    background: #FFFFFF;
    border: 1px solid #D8DEE7;
    border-radius: 8px;
    padding: 1rem;
    margin-left: var(--small-margin);
    margin-bottom: 0.2em;
    /* max-width: 800px; // ne trima bubble na novi length */
}

.msg--bubble h4, .msg--bubble p {
    margin: 0;
}

.msg--bubble h4 {
    margin-bottom: 0.5rem;
}

.msg--img {
    width: var(--img-size);
    height: 100%;
    border-radius: 24px;
}

.msg--time-sent {
    color: #82878D;
    margin-left: var(--small-margin);
}

.msg--reply {
    color: #023168;
    cursor: pointer;
}

.msg + .msg--child .msg--img-body-child::before {
    content: " ";
    position: absolute;
    transform: translateX(calc(-1 * var(--img-size) / 2 - var(--small-margin)))
        translateY(calc(-1 * var(--img-size) / 2 - 10px));
    height: calc(var(--msg-padding) + calc(var(--img-size) / 2));
    width: 1.2rem;
    border-left: 2px solid #D8DEE7;
    border-bottom: 2px solid #D8DEE7;
    border-radius: 0 0 0 3px;
}