* {
    box-sizing: border-box;
}

:root {
    --small-margin: 0.75em;
    --img-size: 48px;
    --msg-padding: 32px;
    --plus-size: 1rem;
    --plus-container-size: 2rem;
    --form-btn-height: 45px;
}

body {
    margin: 0;
    padding-bottom: 5rem;
    font-family: 'Inter', sans-serif;
    background: #ECEEF1;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.msg--date {
    font-weight: 500;
    color: #82878D;
    text-align: center;
}

.msg--img-body, .msg--img-body-child {
    display: flex;
    padding: 1rem 2rem 0.5rem 2rem;
}

.msg--img-body-child {
    margin-left: calc(var(--img-size) + var(--small-margin));
}

.msg--body {
    display: flex;
    flex-direction: column;
}

.msg--bubble {
    background: #FFFFFF;
    border: 1px solid #D8DEE7;
    border-radius: 8px;
    padding: 1rem;
    margin-left: var(--small-margin);
    margin-bottom: 0.4em;
    /* max-width: 800px; // ne trima bubble na novi length */
}

.msg--bubble h4, .msg--bubble p {
    margin: 0;
}

.msg--bubble h4 {
    margin-bottom: 0.5rem;
}

.msg--img {
    width: var(--img-size);
    height: 100%;
    border-radius: 24px;
}

.msg--time-sent {
    color: #82878D;
    margin-left: var(--small-margin);
}

.msg--reply {
    color: #023168;
    cursor: pointer;
}

.msg--img-body + .msg--img-body-child::before {
    content: " ";
    position: absolute;
    transform: translateX(calc(-1 * var(--img-size) / 2 - var(--small-margin)))
        translateY(calc(-1 * var(--img-size) / 2 - 10px));
    height: calc(var(--msg-padding) + calc(var(--img-size) / 2));
    width: 1.2rem;
    border-left: 2px solid #D8DEE7;
    border-bottom: 2px solid #D8DEE7;
    border-radius: 0 0 0 3px;
}

/* Form ---------------------------------- */

.form {
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 4rem;
    margin: var(--small-margin);
    padding: 0.5rem;
    border: 1px solid #D8DEE7;
    border-radius: 8px;
    background-color: white;
    align-items: center;
}

.form--plus-button, .form--submit {
    font-family: 'Inter';
    font-size: 18px;
    flex-grow: 0;
    border: none;
    border-radius: 6px;
    background-color: #023168;
    color: white;
    cursor: pointer;
    height: var(--form-btn-height);
}

.form--plus-button {
    width: var(--form-btn-height);
}

.form--input {
    font-size: 18px;
    padding: 0.6rem;
    width: auto;
    flex-grow: 1;
    border: none;
    color: #333333;
}

.form--input:focus {
    outline: none;
}

.cross {
    position: relative;
    height: var(--plus-container-size);
    width: auto;
}

.cross:before, .cross:after {
    position: absolute;
    left: 50%;
    top: calc((var(--plus-container-size) - var(--plus-size)) / 2);
    height: var(--plus-size);
    width: 2px;
    content: ' ';
    background-color: white;
}

.cross:after {
    transform: rotate(90deg);
}